{% extends "tab-child.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>vsearch - fastq_eestats</h1>
        <h4 id="fwdreads">Forward Reads</h4>
        <a href={{ datafiles.forward.eestats }}>Download as TXT</a>
        {{ html.forward.eestats }}
    </div>
    {% if paired %}
    <div class="col-lg-12">
        <h4 id="revreads">Reverse Reads</h4>
        <a href={{ datafiles.reverse.eestats }}>Download as TXT</a>
        {{ html.reverse.eestats }}
    </div>
    {% endif %}
</div>
{% endblock %}
